footer {
  box-sizing: border-box;
  margin-top: 40px;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  background-color: #d5d5d5;
  align-items: center;
  text-align: center;
}
footer img {
  width: 40px;
  padding: 0 10px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer div {
    padding: 10px 0;
  }
}